[submodule "components/bh1750fvi"]
	path = components/bh1750fvi
	url = https://github.com/libdriver/bh1750fvi.git
[submodule "components/Ring-Buffer"]
	path = components/Ring-Buffer
	url = git@github.com:AndersKaloer/Ring-Buffer.git
[submodule "components/cJSON"]
	path = components/cJSON
	url = git@github.com:DaveGamble/cJSON.git
[submodule "components/printf"]
	path = components/printf
	url = git@github.com:mpaland/printf.git
